{% extends "layout.html" %}  <!-- extends to parent template -->
{% block content %}


<br>
<div class="card">
  <h6 class="card-header">Question: {{question['title']}}</h6>
  <div class="card-body">
    {{question['message']}}
      <br><br>
      <a class="btn btn-secondary" href="/question/{{question['id']}}/new-answer" role="button">Add answer</a>
  </div>
<br>
<div class="offset">
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Submission time</th>
            <!--<th scope="col">Question Id</th>-->
            <th scope="col">Message</th>

        </tr>
        </thead>
        {% for answer in answers %}
                <td>{{ answer['id'] }}</td>
                <td>{{ answer['submission_time'] }}</td>
                <!--<td>{{ answer['question_id'] }}</td>-->
                <td>{{ answer['message']}}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
</div>

{% endblock %}